<div class="row">
    <div class="col-lg-10">
        <h1 class="page-header">Register Kiosk</h1>
    </div>
    <!-- /.col-lg-10 -->
</div>
<!-- /.row -->
<!-- /.row -->
<div class="row">
    <div class="col-lg-4 col-lg-push-1">
        <div class="form-group">
            <label for="events">Select Event:</label>
            <select class="form-control" id="events">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-1">
        <fieldset>
            <legend>Please Generate A Key For Your Event Kiosks:</legend>
        </fieldset>
        <label>Please copy the generated key and input it into your kiosks. The key will allow access for the specified event. Keys expire after 48 hours.</label>
        <br/><br/><br/>
        <div class="col-lg-4 col-lg-push-3">
            <input class="form-control" size="30" type="text" id="kioskKey" name="kioskKey">
        </div>
        <div class="col-lg-4 col-lg-push-3">
            <input class="btn btn-success" type="submit" name="generateButton" id="generateButton" value="Generate Key"><br/><br/>
        </div>


    </div>
</div>
